{{#if searchInput}}
    <div class="input {{inputAddClass}}">
        <label class="input__label">{{label}}</label>
        <div class="input__container">
            <input type="{{type}}" placeholder="{{placeholder}}" class="input__input-text">
            <svg class="chat-layout__search-icon">
                <use href="../asserts/images/icons_sprite.svg#search"></use>
            </svg>
        </div>
    </div>
{{else}}
    <div class="input {{inputAddClass}}">
        <label class="input__label">{{label}}</label>
        <div class="input__container">
            <input type="{{type}}" placeholder="{{placeholder}}" class="input__input-text">
            <div class="input__error-name">{{errorName}}</div>
        </div>
    </div>
{{/if}}
