<div class="input {{inputAddClass}}">
    <label class="input__label">{{label}}</label>
    <div class="input__container">
        <input type="{{type}}" placeholder="{{placeholder}}" class="input__input-text" name="{{name}}">
        {{#if profileInput}}
            <span class="input__profile-label">{{formLabel}}</span>
        {{/if}}
        {{#if searchInput}}
            {{> 'svgicons/search' searchIconClass="chat-layout__search-icon"}}
        {{else}}
            <div class="input__error-name">{{errorName}}</div>
        {{/if}}
    </div>
</div>
