{{#if searchInput}}
    <div class="input {{inputAddClass}}">
        <label class="input__label">{{label}}</label>
        <div class="input__container">
            <input type="{{type}}" placeholder="{{placeholder}}" class="input__input-text">
            {{> 'svgicons/search' searchIconClass="chat-layout__search-icon"}}
        </div>
    </div>
{{else}}
    <div class="input {{inputAddClass}}">
        <label class="input__label">{{label}}</label>
        <div class="input__container">
            <input type="{{type}}" placeholder="{{placeholder}}" class="input__input-text">
            <div class="input__error-name">{{errorName}}</div>
        </div>
    </div>
{{/if}}
